MONGO_CONNECTION=mongodb+srv://<db_username>:<db_password>@ClusterName.mongodb.net/
MONGO_DB_NAME=DbName
MONGO_COLLECTION_NAME=CollectionName

JWT_KEY= JwtSecretKeyHere
JWT_ISSUER= IssuerNameHere
JWT_AUDIENCE= AudienceNameHere