
MONGO_PASSWORD=YourMongoPasswordHere
MONGO_USER=YourMongoUserHere

### Use esse para conectar ao MongoDB Atlas
# CLUSTER_NAME=SEUCLUSTER
# MONGO_CONNECTION=mongodb+srv://${MONGO_USER}:${MONGO_PASSWORD}@${CLUSTER_NAME}.mongodb.net/

### Use esse para conectar ao MongoDB Local
MONGO_CONNECTION=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongo:27017/

MONGO_DB_NAME=DbName
MONGO_COLLECTION_NAME=CollectionName

JWT_KEY= JwtSecretKeyHere
JWT_ISSUER= IssuerNameHere
JWT_AUDIENCE= AudienceNameHere

